<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<body>
<div id="project-label">Your next meal starts here <b></b> </div>
 <input type="search" id="ingredientInput" class="form-control" placeholder="Enter your ingredients" />
<!-- <br>-->
<!-- Selected labels:-->
<!-- <input type="text" id="labels">-->
<!-- <br>-->
<!-- Selected values:-->
<!-- <input type="text" id="values">-->
<!--<div>class = "bg_image"-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        &lt;!&ndash;To use the full functionality visit https://www.algolia.com&ndash;&gt;-->
<!--        <h1 class="text-center">Home chef never been so easy!</h1>-->
<!--        <input type="search" id="address" class="form-control" placeholder="Enter your ingredients" />-->
<!--    </div>-->
<!--      </div>-->
<!--      </div>-->
<!--</div>-->
</body>
</html>
    <script src="/../../static/js/searchScript.js"></script>
